@use "../util/" as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  max-width: 100%;
}

.show-from-medium {
  display: none;

  @include breakpoint(medium) {
    display: block;
  }
}

.show-from-medium-inline {
  display: none;

  @include breakpoint(medium) {
    display: inline;
  }
}

.show-from-large {
  display: none;
  @include breakpoint(large) {
    display: block;
  }
}

.hide-from-large {
  @include breakpoint(large) {
    display: none;
  }
}

.link-to-all {
  display: inline-block;
  margin-top: rem(16);
  font-weight: 600;
  font-size: rem(14);
  line-height: rem(24);
  letter-spacing: -1%;
  color: var(--cr-deep-blue);
  text-decoration-thickness: 1px;

  @include breakpoint(large) {
    margin-top: rem(20);
  }
}
