@use "../util/" as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  max-width: 100%;
}

.show-from-medium {
  display: none;

  @include breakpoint(medium) {
    display: block;
  }
}

.show-from-large {
  display: none;
  @include breakpoint(large) {
    display: block;
  }
}

.hide-from-large {
  @include breakpoint(large) {
    display: none;
  }
}
