:root {
  --cr-brave-yellow: #f59e00;
  --cr-brave-yellow-saturation: #fce2b3;
  --cr-dark-blue: #020d37;
  --cr-deep-blue: #0432df;
  --cr-deep-blue-saturation: #cdd6f9;
  --cr-description-light: #acafb8;
  --cr-title-light: #eeeeee;
  --cr-title-dark: #020d37;
  --cr-description-dark: #4c526a;
  --cr-white: #ffffff;
  --cr-black: #000000;
  --cr-search-icon: #4f5261;
  --cr-trustedby-bg: #fafafa;
  --cr-premium-download-bg: #1b4bff;
}
