@use "../util" as *;

.heading-1 {
  font-weight: 700;
  font-size: rem(72);
  line-height: rem(98);
  letter-spacing: -1%;
}

.heading-2 {
  font-weight: 700;
  font-size: rem(48);
  line-height: rem(64);
  letter-spacing: -1%;
}

.heading-3 {
  font-weight: 700;
  font-size: rem(36);
  line-height: 146.5%;
  letter-spacing: -2%;
}

.heading-4 {
  font-weight: 600;
  font-size: rem(28);
  line-height: rem(45);
  letter-spacing: -2%;
}

.heading-5 {
  font-weight: 600;
  font-size: rem(24);
  line-height: 160%;
  letter-spacing: -2%;
}

@mixin heading-5 {
  font-weight: 600;
  font-size: rem(24);
  line-height: 160%;
  letter-spacing: -2%;
}

.heading-6 {
  font-weight: 600;
  font-size: rem(20);
  line-height: rem(30);
  letter-spacing: -2%;
}

@mixin heading-6 {
  font-weight: 600;
  font-size: rem(20);
  line-height: rem(30);
  letter-spacing: -2%;
}

.subtitle-1 {
  font-size: rem(20);
  font-family: "Inter";
  line-height: 170%;
  letter-spacing: -5%;
}

.subtitle-1-semibold {
  @extend .subtitle-1;
  font-weight: 600;
}

.subtitle-1-medium {
  @extend .subtitle-1;
  font-weight: 500;
}

.subtitle-2 {
  font-size: rem(18);
  font-family: "Inter";
  line-height: 172%;
  letter-spacing: -5%;
}

.subtitle-2-semibold {
  @extend .subtitle-2;
  font-weight: 600;
}

.subtitle-2-medium {
  @extend .subtitle-2;
  font-weight: 500;
}

.subtitle-3 {
  font-size: rem(16);
  font-family: "Inter";
  line-height: 138%;
  letter-spacing: 0%;
}

.subtitle-3-semibold {
  @extend .subtitle-3;
  font-weight: 600;
}

.subtitle-3-medium {
  @extend .subtitle-3;
  font-weight: 500;
}

.subtitle-4 {
  font-size: rem(14);
  font-family: "Inter";
  line-height: 138%;
  letter-spacing: -5%;
}

.subtitle-4-semibold {
  @extend .subtitle-4;
  font-weight: 600;
}

.subtitle-4-medium {
  @extend .subtitle-4;
  font-weight: 500;
}

.caption-1 {
  font-family: "Inter";
  font-size: rem(18);
  line-height: 189%;
  letter-spacing: -5%;
}

.caption-1-medium {
  @extend .caption-1;
  font-weight: 500;
}

.caption-1-regular {
  @extend .caption-1;
  font-weight: 400;
}

.caption-2 {
  font-family: "Inter";
  font-size: rem(16);
  line-height: 180%;
  letter-spacing: 0%;
}

.caption-2-medium {
  @extend .caption-2;
  font-weight: 500;
}

.caption-2-regular {
  @extend .caption-2;
  font-weight: 400;
}

.caption-3 {
  font-family: "Inter";
  font-size: rem(14);
  line-height: 172%;
  letter-spacing: 0%;
}

.caption-3-medium {
  @extend .caption-3;
  font-weight: 500;
}

.caption-3-regular {
  @extend .caption-3;
  font-weight: 400;
}

.label-1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: rem(16);
  line-height: rem(24);
  letter-spacing: -1%;
}

.label-2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: rem(14);
  line-height: rem(24);
  letter-spacing: -1%;
}

.label-3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: rem(12);
  line-height: rem(16);
  letter-spacing: -1%;
}

.capitalized-18 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: rem(18);
  line-height: rem(16);
  letter-spacing: 0%;
}

.capitalized-14 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: rem(14);
  line-height: rem(14);
  letter-spacing: 0%;
}
