@use "../util" as *;

.nav-hero {
  position: relative;
  overflow: hidden;
  height: rem(620);

  .nav-hero-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    height: rem(620);
  }
}
